 .consulta{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 95px;
  justify-content: center;
  align-items: center;
  border: 2px solid #408087;
   margin: 0 auto;
} 



