@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Pacifico&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
.frase-destaque {
  font-family: 'Playwrite DK Loopet', cursive;
}

:root {
  --tamanho-header: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(109vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
      --azul:#6fa5ab;
    --escuro: #4d7478;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid var(--azul);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s ease;
  background-color: var(--azul) ;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: flex;
  padding: 0 50px;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
  font-family: 'Pacifico',cursive;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner{
    height: 500px;
    width: fit-content;
    display: flex;
    position: absolute;
    
}
.conteudo {
  position: relative;
  z-index: 2; 
  color: white;
  text-align: center;
  z-index: 2;
}
.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center ;
    flex-direction: column;
    z-index: 2;
}
/* Alterei tudo .banner .container e o p*/

.banner .container p {
    width: 490px;
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left: 200%;
    
}

.banner .container span {
  font-weight: 800;
}
/* Não alterei .banner .container span */
.video {
position: relative;
width: 100%;
height: 93vh;
overflow: hidden;
z-index: 0;
}
.homeVideo{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;    
}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, #6790954d,lch(64.35% 18.4 208.47 / 0.8));
}


/* MISSÃO VISÃO VALORES Mudei tudo */

.social{
    height: 600px;
    width: 100%;
    background-color: #dcdcdc;
}
.social .container{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box img {
    width: 300px;
    height: 320px;
    border-radius: 50px;
}
.box h4{
    margin: 0;
    margin-top:10px ;
    color: var(--escuro) ;
    
}
/* FOOTER */

.footer {
  background-color: var(--azul);
  height: 150px;
  color: white;
  display: flex;
  font-size: 15px;
  width: 100%;
}

.footer .container {
  justify-content: center;
  text-align: center;
}
.icons-footer li{
    list-style: none;
}

.footer .container .version {
  font-size: 12px;
}

.icons-footer{
    position: relative;
    display: flex;
    margin-left: 0;
    margin-right: auto;
    flex-wrap: wrap;
}
/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url(../assets/imgs/tela-branca.png );
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
      background-image: url(../assets/imgs/fundo3.png );
          background-size:contain;
}

.card {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
      color: var(--azul);
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid var(--azul);
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid var(--azul);
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
      color: var(--azul);
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: var(--azul);
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid var(--azul);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}